<%- include ../partials/header.ejs %>

<% if(errors) { %>
    <% errors.forEach(error => { %>
        <li><%= error.msg %> </li>
    <% }); %>
<% } %> 

<h1>Welcome!</h1>
<p>You're currently on the home page!</p>

<%- include ../partials/footer.ejs %>