<%- include ../partials/header.ejs %>

<% if(errors) { %>
    <% errors.forEach(error => { %>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-md-5 mr-md-2 mt-md-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    <% }); %>
<% } %> 

<div class="container" id="homepage">
    <!-- ROW DIVIDER -->
    <div class="row text-center mt-5">
        <div class="col">
            <h1>Raspberry Pi - Dörrskärmar!</h1>
        </div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row text-center mt-md-5">
        <div class="col-md-3 col-lg-4"></div>
        <div class="col-md-6 col-lg-4">
            <p>Brukar era arbetstagare stanna hemma utan förvarning?
                Sitta i möte utan att berätta när det slutar?
                Läs då gärna vidare om våra dörrskärmar, de kommer lösa
                alla problem ovan!
            </p>
        </div>
        <div class="col-md-3 col-lg-4"></div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row mx-auto">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img class="img-fluid" src="../../assets/images/temp-rasp-image.jpg">
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row text-center mt-md-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Våra skärmar drivs på en Raspberry Pi!
                Era arbetstagare kommer kunna logga in på denna
                sida och hantera alla sina skärmar <i>(de kan ha hur många
                som helst!)</i>. De kommer alltså kunna ändra texten på
                en av sina skärmar <i>(eller alla samtidigt)</i> och denna
                sidan kan de nå oavsett var än de befinner sig, så länge
                de har en internetuppkoppling!
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row text-center mt-md-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>PLACEHOLDER SALE'S PITCH</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices tincidunt sem, nec ultrices nisl egestas at. Duis eleifend dictum ante eget sagittis. Maecenas efficitur lorem enim, ac egestas arcu tincidunt vel. Aenean id lorem consectetur, suscipit urna eget, placerat felis. Aliquam congue massa interdum diam vehicula vehicula. Nulla iaculis aliquam odio sed laoreet. Suspendisse vehicula tortor leo, viverra efficitur neque ornare nec</p>
            <p>Phasellus facilisis iaculis purus quis sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vehicula egestas nisl, facilisis bibendum eros aliquam id. Mauris auctor quis dolor eget dapibus. Sed gravida ultricies dapibus. Pellentesque convallis felis nec nibh consectetur, vel sodales mi suscipit. Morbi volutpat diam nec aliquam lobortis. Praesent elementum euismod nunc ut mollis. Maecenas nulla nisi, finibus sit amet nisl vitae, tincidunt varius ante. Etiam a ultrices leo. Nunc non quam vel mauris aliquet hendrerit non faucibus lorem. Nullam efficitur venenatis nisl eget mollis. Etiam facilisis nisi ac fermentum ultrices. Vivamus finibus, lectus quis tempus vestibulum, lectus magna fringilla tellus, in consequat massa mauris et diam. </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<div class="container" id="aboutus">
    <div class="row text-center mt-5">
        <div class="col">
            <h1>Om Företaget</h1>
        </div>
    </div>
    <!-- ROW DIVIDER -->
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<%- include ../partials/footer.ejs %>