<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap CSS (MUST LOAD BEFORE ANY OTHER CSS) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Cookies?</title>
    </head>
    <body>
        <div class="container" id="homepage">
            <!-- ROW DIVIDER -->
            <div class="row text-center mt-5">
                <div class="col">
                    <h1>We would like to give you a few cookies!</h1>
                    <p style="width: 500px; margin: auto;">We see that you are visiting our site for the first time!
                    We would like to inform you that this site uses cookies and by
                    browsing this webpage you agree to the use of cookies on this webpage.</p>
                    <a href="<%= url %>">Click here to continue to the page and browse with cookies!</a>
                </div>
            </div>
        </div>
<%- include ../partials/footer.ejs %>